<a href="/" class="grotesque dark" id="nav-title">GreenTrail</a>
<nav class="inter dark">
  <i class="fa-solid fa-bars" id="hamburger-menu"></i>
  <div id="nav-links">
    <a href="/locations">Locations</a>
    {{#if loggedIn}}
      <a href="/add">Add</a>
      <a href="/" id="logout">Logout</a>
      {{! JAVASCRIPT }}
      <script src="/js/logout.js"></script>
    {{else}}
      <a href="/login" id="login">Login</a>
    {{/if}}
  </div>
</nav>

{{! JAVASCRIPT }}
<script src="/js/hamburger-menu.js"></script>