<h1>Hello! Let's eat!</h1>
{{!-- <section class="card">
  <a href="/community/{{id}}">
    <header>Where to eat in {{community-name}}</header>

    <div class="card-body">
      {{!-- <img src="/images/{{filename}}" alt="{{description}}"> --}}
      {{!-- <p>{{}}</p>
    </div>
  </a>
</section> --}} --}}