<section class="grotesque page-subtitle" id="featured-title">Where to Eat in {{community.community-name}}</section>
<section class = "restaurants borders">
    {{#each restaurants as |restaurant|}}
    <h3 class = "grotesque" id=""></h3>
</section>
<section>
    {{#each restaurants.restaurant_name as |}}
</section>