<video autoplay muted loop id="homepage-video">
  <source
    src="/images/background.mp4"
    type="video/mp4"
    alt="Loop of travel destinations"
  />
</video>

<div id="error-page-content">
  <h1 class="page-title grotesque light fade-in" id="error-page-subtitle">This
    page doesn't exist (yet!)</h1>
</div>