<h1 class="page-title grotesque" id="location-title">What would you like to add?</h1>

<section class="borders container" id="featured">
  <div class="container">
    <div class="row">
      <div class="col">
        <div id="featured-text">
          <h2 class="grotesque page-subtitle" id="featured-title">A Place to Stay</h2>
        </div>
        <div id="featured-content">
          <div id="featured-img-div">
            <img
              src='/images/hotel-pura-chacala.jpg'
              class="borders"
              id="featured-img"
              alt="Facade of a hotel"
            />
          </div>
        </div>
      </div>
      <div class="col">
        <div id="featured-text">
          <h2 class="grotesque page-subtitle" id="featured-title">A Place to Eat</h2>
        </div>
        <div id="featured-content">
          <div id="featured-img-div">
            <img
              src="/images/tacos.jpg"
              class="borders"
              id="featured-img"
              alt="Tacos on a wooden board"
            />
          </div>
        </div>
      </div>
    </div>
        <div class="row">
      <div class="col">
        <div id="featured-text">
          <h2 class="grotesque page-subtitle" id="featured-title">Something to Do</h2>
        </div>
        <div id="featured-content">
          <div id="featured-img-div">
            <img
              src="/images/birdwatching.jpg"
              class="borders"
              id="featured-img"
              alt="person watching birds at sunset"
            />
          </div>
        </div>
      </div>
      <div class="col">
        <div id="featured-text">
          <h2 class="grotesque page-subtitle" id="featured-title">A Service to Provide</h2>
        </div>
        <div id="featured-content">
          <div id="featured-img-div">
            <img
              src='/images/lavanderia.jpg'
              class="borders"
              id="featured-img"
              alt="Person holding folded laundry in a laundromat"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>