<h1 class="page-title grotesque" id="location-title">Where to next?</h1>

<section class="borders" id="featured">
  <div id="featured-text">
    <h2 class="grotesque page-subtitle" id="featured-title">I am the add page</h2>
  </div>
  <div id="featured-content">
    <div id="featured-img-div">
      <img
        src="/images/chacala.jpg"
        class="borders"
        id="featured-img"
        alt="Turtle in clear water"
      />
    </div>
  </div>
</section>