<section id="community">
  <div id="community-img-div">
    <h1 class="grotesque page-title" id="community-name">{{community.community_name}}</h1>
    <img id="community-img" src="/images/{{community.community_name}}.jpg" alt="Image of {{community_name}}"/>
    <p class="inter" id="community-description">{{community.description}}</p>
  </div>

  <div id="community-features">
    <div class="grotesque" id="community-nav">
      <p href="#" id="explore">Explore</p>
      <p href="#" id="stay">Stay</p>
      <p href="#" id="eat">Eat</p>
      <p href="#" id="events">Events</p> 
      <p href="#" id="amenities">Amenities</p>
    </div>
    <div>
      <div id="explore-details">
          {{> explore-details}}
        </div>
      <div class="hidden", id="stay-details">
          {{> stay-details}}
        </div>
      <div class="hidden", id="eat-details">
          {{> eat-details}}
        </div>
      <div class="hidden" id="event-details">
          {{> events-details}}
        </div>
      <div class="hidden" id="amenities-details">
          {{> amenities-details}}
        </div>
    </div>
  </div>
</section>

{{! JAVASCRIPT }}
<script src="/js/community.js"></script>