<section class="fade-in" id="community">
    <div>
      <h1 class="grotesque" id="community-name">Place name</h1>
    </div>
    <div>
      {{!-- <img src="{{image}}" alt="{{name}}"/> --}}
    </div>
  </header>

  <div class="inter" id="community-description">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt...</p>
  </div>

  <div id="community-features">
    <div class="grotesque" id="community-nav">
      <p href="#" id="stay">Stay</p>
      <p href="#" id="eat">Eat</p>
      <p href="#" id="explore">Explore</p>
      <p href="#" id="events">Events</p> 
      <p href="#" id="flora">Flora &amp; Fauna</p>
      <p href="#" id="amenities">Amenities</p>
      <p href="#" id="about">About</p>
    </div>
    <div>
      <div class="hidden", id="stay-details">
          {{> stay-details}}
        </div>
      <div class="hidden", id="eat-details">
          {{> eat-details}}
        </div>
      <div id="explore-details">
          {{> explore-details}}
        </div>
      <div class="hidden", id="event-details">
          {{> events-details}}
        </div>
      <div class="hidden", id="flora-details">
          {{> flora-details}}
        </div>
      <div class="hidden", id="amenities-details">
          {{> amenities-details}}
        </div>
      <div class="hidden", id="about-details">
          {{> about-details}}
        </div>
    </div>
  </div>
</section>

{{! JAVASCRIPT }}
<script src="../public/js/community.js"></script>