<video autoplay muted loop id="homepage-video">
  <source
    src="/images/background.mp4"
    type="video/mp4"
    alt="loop of travel destinations"
  />
</video>

<div>
  <h1
    class="page-title grotesque light fade-in"
    id="homepage-title"
  >GreenTrail</h1>
  <h2 class="page-subtitle inter light fade-in" id="homepage-subtitle">Travel
    respectfully.</h2>
</div>

{{! JAVASCRIPT }}
<script src="./js/home.js"></script>