<h1 class="page-title grotesque" id="location-title">Where to next?</h1>

<section class="borders" id="featured">
  <div id="featured-text">
    <h2 class="grotesque page-subtitle" id="featured-title">Featured Location:</h2>
    <h2 class="grotesque page-subtitle" id="featured-name">Chacala, Mexico</h2>
  </div>
  <div id="featured-content">
    <div id="featured-img-div">
      <img
        src="/images/chacala.jpg"
        class="borders"
        id="featured-img"
        alt="Turtle in clear water"
      />
    </div>
    <div id="featured-vid-div">
      <video autoplay muted loop class="borders" id="featured-video">
        <source
          src="/images/chacala.mp4"
          type="video/mp4"
          alt="Video of children on a surfboard in the water"
        />
      </video>
      <a href="/community" class="borders inter" id="see-more">See more</a>
    </div>
  </div>
</section>

<section>
  <h2 class="grotesque page-subtitle" id="featured-title">Locations</h2>
</section>