<h1 class="page-title grotesque" id="location-title">Where to next?</h1>

<section id="featured">
  <div id="featured-img-div">
    <img src="/images/chacala.jpg" id="featured-img" />
    <h3 class="grotesque" id="featured-name page-subtitle">Chacala, Mexico</h3>
  </div>
  <h2 class="grotesque page-subtitle" id="featured-title">Featured Location</h2>
</section>

<section>

</section>