<div class="fade-in" id="login-page">
  <div class="page-subtitle grotesque">
    <button id="sign-in-button">Sign in</button>
    <button id="sign-up-button">Sign up</button>
  </div>

  <div class="inter" id="signup-signin-box">
    <section class="borders" id="sign-in">
      <p>Email:</p>
      <input
        type="text"
        class="borders"
        id="sign-in-email"
        name="sign-in-email"
      />
      <p>Password:</p>
      <input
        type="password"
        class="borders"
        id="sign-in-password"
        name="sign-in-password"
      />
      <button id="go-sign-in">Sign in</button>
    </section>

    <section class="borders" id="sign-up">
      <p>First name:</p>
      <input
        type="text"
        class="borders"
        id="sign-up-first"
        name="sign-up-first"
      />
      <p>Last name:</p>
      <input
        type="text"
        class="borders"
        id="sign-up-last"
        name="sign-up-last"
      />
      <p>Email:</p>
      <input
        type="text"
        class="borders"
        id="sign-up-email"
        name="sign-up-email"
      />
      <p>Password:</p>
      <input
        type="password"
        class="borders"
        id="sign-up-password"
        name="sign-up-password"
      />
      <button id="go-sign-up">Sign Up</button>
    </section>
  </div>
</div>

{{! JAVASCRIPT }}
<script src="./js/login.js"></script>