<div>
  <button id="sign-in-button">Sign in</button>
  <button id="sign-up-button">Sign up</button>
</div>

<div>
  <section id="sign-in">
    <p>Email:</p>
    <input type="text" id="sign-in-email" name="sign-in-email" />
    <p>Password:</p>
    <input type="password" id="sign-in-password" name="sign-in-password" />
  </section>

  <section id="sign-up">
    <p>Email:</p>
    <input type="text" id="sign-up-email" name="sign-up-email" />
    <p>Username:</p>
    <input type="text" id="sign-up-username" name="sign-up-username" />
    <p>Password:</p>
    <input type="password" id="sign-up-password" name="sign-up-password" />
  </section>
</div>