/* BACKGROUND */
#homepage-video {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 78%;
  object-fit: cover;
  min-width: 250px;
}

#homepage-title {
  font-size: calc(8vw + 25px);
  font-weight: 300;
  margin: 8vh 0px 0px 0px;
}

#homepage-subtitle {
  font-weight: 400;
  position: relative;
  top: -14px;
  margin: 0px;
}
