/* HOMEPAGE */
#homepage-video {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 78%;
  object-fit: cover;
  min-width: 250px;
}

#homepage-title {
  font-size: calc(8vw + 25px);
  font-weight: 300;
  margin: 8vh 0px 0px 0px;
}

#homepage-subtitle {
  font-weight: 400;
  position: relative;
  top: -20px;
  margin: 0px;
}

/* LOCATIONS PAGE */
#featured {
  margin: 0px 6vw 0px 6vw;
}

#featured-img-div {
  display: flex;
  justify-content: center;
}

#featured-img {
  width: 30vw;
}

/* COMMUNITY PAGE */
#community {
  margin: 20px;
}

#community-features {
  display: flex;
  justify-content: center;
}

#community-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  line-height: 0.5;
  border: 1px solid var(--dark-text);
  border-radius: 20px;
  padding: 8px;
}

#community-nav a {
  color: var(--dark-text);
  padding: 10px;
  font-size: calc(0.5vw + 20px);
}

/* LOGIN PAGE */
#sign-up {
  display: none;
}

/* MOBILE */

/* LARGE SCREENS */
@media (min-width: 696px) {
  #community-nav {
    width: calc(20vw + 650px);
  }
}

/* DESKTOPS */
@media (min-width: 696px) {
  #community-nav {
    width: calc(20vw + 650px);
  }
}
