/* HOMEPAGE */
#homepage-video {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 78%;
  object-fit: cover;
  min-width: 250px;
}

#homepage-title {
  font-size: calc(8vw + 25px);
  font-weight: 300;
  margin: 8vh 0px 0px 0px;
}

#homepage-subtitle {
  font-weight: 400;
  position: relative;
  top: -20px;
  margin: 0px;
}

/* LOCATIONS PAGE */
#featured {
  margin: 0px 6vw 0px 6vw;
  padding: 15px 25px 15px 25px;
}

#featured-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#featured-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#featured-img-div {
  display: flex;
  justify-content: center;
  margin-right: 10px;
}

#featured-vid-div {
  margin-right: 10px;
}

#featured-img {
  width: 30vw;
}

#see-more {
  font-size: 22px;
  padding: 5px 10px 5px 10px;
}

/* COMMUNITY PAGE */
#community {
  margin: 20px;
}

#community-features {
  display: flex;
  justify-content: center;
}

#community-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  line-height: 0.5;
  border: 1px solid var(--dark-text);
  border-radius: 20px;
  padding: 8px;
}

#community-nav p {
  color: var(--dark-text);
  padding: 10px;
  font-size: calc(0.5vw + 20px);
}

/* LOGIN PAGE */
#sign-in-button,
#sign-up-button {
  margin: 0px 15px 0px 15px; /* space out sign up and sign in buttons */
  border-bottom: 1px solid var(--dark-text);
}

#signup-signin-box {
  display: flex;
  justify-content: center;
  margin: 30px 30px 0px 30px;
  font-size: 16px;
  min-width: 150px;
}

#sign-up {
  display: none;
}

#sign-up,
#sign-in {
  padding: 20px;
}

#signup-signin-box input {
  padding: 4px;
}

/* MOBILE */
@media (min-width: 450px) {
  #signup-signin-box {
    font-size: 22px;
  }
}

/* LARGE SCREENS */
@media (min-width: 696px) {
  #community-nav {
    width: calc(20vw + 650px);
  }
}

/* DESKTOPS */
@media (min-width: 696px) {
  #community-nav {
    width: calc(20vw + 650px);
  }
}
