/* GENERAL */
:root {
  --background: white;
  --dark-text: black;
  --light-text: white;
  --accent: #092325;
  --hover: #7bb1b2;
}

light {
  color: var(--light-text);
}

dark {
  color: var(--dark-text);
}

html {
  color: var(--white);
  background-color: var(--accent);
  min-width: 250px;
}

/* FONTS */
.grotesque {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "slnt" 0;
}

/* BACKGROUND */
#homepage-video {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 78%;
  object-fit: cover;
  min-width: 250px;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  margin: 18px 22px 18px 22px;
  align-items: flex-end;
}

#title {
  font-size: calc(1vw + 30px);
  margin: 0px 0px 0px 10px;
}

a {
  text-decoration: none;
}

nav {
  font-size: calc(0.5vw + 20px);
  display: flex;
  margin: 0px 0px 0.35vw 0px;
}

nav a {
  display: none;
  padding: 0px 10px 0px 10px;
}

nav i {
  position: relative;
  top: calc(-7px + 0.3vw);
  display: inline;
  margin: 0px 10px 0.35vw 20px;
}

a:hover {
  color: var(--hover);
}

/* PAGE CONTENT */

/* FOOTER */
footer {
  font-size: calc(0.5vw + 20px);
  position: fixed;
  bottom: 26px;
  right: 32px;
}

/* LARGE SCREENS */
@media (min-width: 696px) {
  nav a {
    display: inline;
  }

  nav i {
    display: none !important;
  }
}
