/* GENERAL */
:root {
  --background: white;
  --dark-text: black;
  --light-text: white;
  --accent: #092325;
  --dark-hover: #367264;
  --light-hover: #d0e6e2;
  --transparent: #ffffff00;
}

html {
  min-width: 250px;
}

/* FONTS */
.grotesque {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "slnt" 0;
}

/* DARK AND LIGHT */
.light,
.light:hover,
.light a {
  color: var(--light-text);
}

.light a:hover {
  color: var(--light-hover);
}

.dark,
.dark:hover,
.dark a {
  color: var(--dark-text);
}

.dark a:hover {
  color: var(--dark-hover);
}

.dark-background {
  background-color: var(--accent);
}

.light-background {
  background-color: white;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  margin: 18px 22px 18px 22px;
  align-items: flex-end;
  height: 60px;
}

#nav-title {
  font-size: calc(1vw + 30px);
  margin: 0px 0px 0px 10px;
}

a {
  text-decoration: none;
}

nav {
  font-size: calc(0.5vw + 20px);
  display: flex;
  margin: 0px 0px 0.35vw 0px;
}

#nav-links {
  display: none;
  margin-bottom: 6px;
}

#nav-links a {
  display: flex;
  flex-direction: column;
  padding: 0px 10px 0px 10px;
}

nav i {
  position: relative;
  top: calc(-7px + 0.3vw);
  display: inline;
  margin: 0px 10px 8px 20px;
}

a:hover {
  color: var(--hover);
  cursor: pointer;
}

#login,
#logout {
  border-radius: 25px;
  margin-left: 4px;
}

.dark #login,
.dark #logout {
  border: 1px solid var(--dark-text);
  padding: 6px 15px 6px 15px;
}

.light #login,
.light #logout {
  border: 1px solid var(--light-text);
  padding: 6px 15px 6px 15px;
}

/* CONTENT */
.page-title,
.page-subtitle {
  text-align: center;
}

.page-title {
  font-size: calc(2vw + 20px);
}

.page-subtitle {
  font-size: calc(1.2vw + 20px);
}

.borders {
  border: 1px solid var(--dark-text);
  border-radius: 20px;
}

/* FOOTER */
footer {
  font-size: calc(0.5vw + 20px);
  position: fixed;
  bottom: 26px;
  right: 32px;
}

/* LARGE SCREENS */
@media (min-width: 696px) {
  #nav-links {
    display: inline;
    flex-direction: row;
  }

  #nav-links a {
    display: inline;
  }

  nav i {
    display: none !important;
  }
}
