/* GENERAL */
:root {
  --background: white;
  --dark-text: black;
  --light-text: white;
  --accent: #092325;
  --hover: #7bb1b2;
  --transparent: #ffffff00;
}

html {
  min-width: 250px;
}

/* FONTS */
.grotesque {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "slnt" 0;
}

/* DARK AND LIGHT */
.light,
.light:hover,
.light a,
.light a:hover {
  color: var(--light-text);
}

.dark,
.dark:hover,
.dark a,
.dark a:hover {
  color: var(--dark-text);
}

.dark-background {
  background-color: var(--accent);
}

.light-background {
  background-color: white;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  margin: 18px 22px 18px 22px;
  align-items: flex-end;
  height: 50px;
}

#nav-title {
  font-size: calc(1vw + 30px);
  margin: 0px 0px 0px 10px;
}

a {
  text-decoration: none;
}

nav {
  font-size: calc(0.5vw + 20px);
  display: flex;
  margin: 0px 0px 0.35vw 0px;
}

nav a {
  display: none;
  padding: 0px 10px 0.35vw 10px;
}

nav i {
  position: relative;
  top: calc(-7px + 0.3vw);
  display: inline;
  margin: 0px 10px 0.35vw 20px;
}

a:hover {
  color: var(--hover);
}

/* CONTENT */
.page-title,
.page-subtitle {
  text-align: center;
}

.page-title {
  font-size: calc(2vw + 20px);
}

.page-subtitle {
  font-size: calc(1.2vw + 20px);
}

/* FOOTER */
footer {
  font-size: calc(0.5vw + 20px);
  position: fixed;
  bottom: 26px;
  right: 32px;
}

/* LARGE SCREENS */
@media (min-width: 696px) {
  nav a {
    display: inline;
  }

  nav i {
    display: none !important;
  }
}

/* COMMUNITY */
#community-nav-div {
  display: flex;
  justify-content: center;
}

#community-nav {
  display: flex;
  justify-content: center;
  border: 1px solid var(--dark-text);
  border-radius: 20px;
}

#community-nav a {
  color: var(--dark-text);
  padding: 10px;
  font-size: 20px;
}

/* LARGE SCREENS */
@media (min-width: 696px) {
  #community-nav {
    width: 650px;
  }
}
